* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: antiquewhite;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.bg2 {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.btn {
  background-color: aqua;
  font-size: 15px;
  border-radius: 12px;
  border: 1px solid red;
}
