*{
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}
:root{
  --bg-primary: red;
  --bg-blue: blue;
}
body{
  background-image: url('../src/sp3.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.btn{
  border: none;

  background-color: var(--bg-primary);
  border-radius: 10px;
  padding: 2px 5px;
  border: 2px dashed yellow;

  cursor: pointer;
}
.btn:hover{
  background-color: rgb(7, 88, 88);
  color: white;
  width: 200px;
  height: 100px;
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: yellow;
}
nav{
  display: flex;

  flex-wrap: wrap;
  padding-block: 10px;

}
.hijo1{
  flex: 1 1 70%;

  display: flex;
  justify-content: space-evenly;

}

.hijo2{
  flex: 1 1 30%;

  display: flex;
  justify-content: center;
}
.img__container{
  width: 25px;
  height:25px;
}
.logo{
  width: 100%;
  object-fit: cover;
}